<ul class="panel-body list-group">    
    <li class="list-group-item"><a href="#/Subtraction?digit=1&max=9&min=0&level=S1">Subtraction - 1 digit</a> 
        <div ng-if="appCtrl.hasScore('SubtractionS1')" ng-click="appCtrl.showPopover()" title="Current Score" data-toggle="popover" 
            data-content="Timer: {{appCtrl.getTimer('SubtractionS1')}}" class="app-badge">{{ appCtrl.getScore('SubtractionS1') }}</div></li>
    <li class="list-group-item"><a href="#/Subtraction?digit=2&max=99&min=10&level=S2">Subtraction - 2 digit</a> 
        <div ng-if="appCtrl.hasScore('SubtractionS2')" ng-click="appCtrl.showPopover()" title="Current Score" data-toggle="popover" 
            data-content="Timer: {{appCtrl.getTimer('SubtractionS2')}}" class="app-badge">{{ appCtrl.getScore('SubtractionS2') }}</div></li>
    <li class="list-group-item"><a href="#/Subtraction?digit=3&max=999&min=100&level=S3">Subtraction - 3 digit</a> 
        <div ng-if="appCtrl.hasScore('SubtractionS3')" ng-click="appCtrl.showPopover()" title="Current Score" data-toggle="popover" 
            data-content="Timer: {{appCtrl.getTimer('SubtractionS3')}}" class="app-badge">{{ appCtrl.getScore('SubtractionS3') }}</div></li>
    <li class="list-group-item"><a href="#/Subtraction?digit=4&max=9999&min=1000&level=S4">Subtraction - 4 digit</a> 
        <div ng-if="appCtrl.hasScore('SubtractionS4')" ng-click="appCtrl.showPopover()" title="Current Score" data-toggle="popover" 
            data-content="Timer: {{appCtrl.getTimer('SubtractionS4')}}" class="app-badge">{{ appCtrl.getScore('SubtractionS4') }}</div></li>
    <li class="list-group-item"><a href="#/Subtraction?custom=true&max2=9&min2=0&max=19&min=10&level=SC">Subtraction - custom</a> 
        <div ng-if="appCtrl.hasScore('SubtractionSC')" ng-click="appCtrl.showPopover()" title="Current Score" data-toggle="popover" 
            data-content="Timer: {{appCtrl.getTimer('SubtractionSC')}}" class="app-badge">{{ appCtrl.getScore('SubtractionSC') }}</div></li>
</ul>
