<ul style="margin-top:3em">
    <li><a href="#/Addition?digit=1&max=9&min=0&level=A1">Addition - 1 digit</a></li>
    <li><a href="#/Addition?digit=2&max=99&min=10&level=A2">Addition - 2 digit</a></li>
    <li><a href="#/Addition?digit=3&max=999&min=100&level=A3">Addition - 3 digit</a></li>
    <li><a href="#/Addition?digit=4&max=9999&min=1000&level=A4">Addition - 4 digit</a></li>
    <li><a href="#/Addition?custom=true&max2=9&min2=0&max=19&min=0&level=AC">Addition - custom</a></li>
    <li><a href="#/Subtraction?digit=1&max=9&min=0&level=S1">Subtraction - 1 digit</a></li>
    <li><a href="#/Subtraction?digit=2&max=99&min=10&level=S2">Subtraction - 2 digit</a></li>
    <li><a href="#/Subtraction?digit=3&max=999&min=100&level=S3">Subtraction - 3 digit</a></li>
    <li><a href="#/Subtraction?digit=4&max=9999&min=1000&level=S4">Subtraction - 4 digit</a></li>
    <li><a href="#/Subtraction?custom=true&max2=9&min2=0&max=19&min=10&level=SC">Subtraction - custom</a></li>
    <li><a href="#/Multiplication?max=12&digit=1&level=0">Multiplication Facts</a></li>
    <li><a href="#/Multiplication?max=9&digit=1&level=M1">Multiplication - Number to 9 by 1 digit</a></li>
    <li><a href="#/Multiplication?max=100&digit=1&level=M2">Multiplication - Numbers to 99 by 1 digit</a></li>
    <li><a href="#/Multiplication?max=1000&digit=1&level=M3">Multiplication - Numbers to 999 by 1 digit</a></li>
    <li><a href="#/Multiplication?max=10000&digit=1&level=M4">Multiplication - Numbers to 9999 by 1 digit</a></li>
    <li><a href="#/Multiplication?max=100&digit=2&level=M5">Multiplication - Numbers to 99 by 2 digit</a></li>
    <li><a href="#/Multiplication?max=1000&digit=2&level=M6">Multiplication - Numbers to 999 by 2 digit</a></li>
    <li><a href="#/Multiplication?max=10000&digit=2&level=M7">Multiplication - Numbers to 9999 by 2 digit</a></li>
</ul>