.app-addition {
  text-align: right;
  .app-operation {
    .app-input {
      padding-right: 1em;
      text-align: right;
      margin-bottom: 1em;
    }
    .app-operand {
      padding-right: 1em;
    }
  }
  .app-user-id {
    padding-right: 2em;
  }
}
