.app-operation {
  text-align: right;
  .app-input {
    width:1.5em;
    margin: 0.1em;
    padding: 0em;
    text-align: center;
    border: 0em;
    position: relative;
    top: -1em;
    left: -0.15em;
    &.ng-invalid-pattern {
      border: 1px solid red;
    }
  }
  .app-operand {
    letter-spacing: 1em;
    position: relative;
    left: -3.75em;
  }
  .app-answer-separator {
    position: relative;
    top: -1em;
    left: -3.75em;
  }
  .app-submit {
    max-width: 70px;
    position: relative;
    top:-1.5em;
  }
}
