<div class="app-lesson-jumbotron">
    <div class="app-jumbotron-content">
        <div class="app-user-name">{{additionCtrl.userName}}</div>
        <div class="app-lesson-title">Addition</div>
        <div class="app-lesson-description">Numbers between 0 and 200</div>
    </div>
</div>
<div class="row app-addition">
    <div class="col-sm-6 app-operation">
        <div class="app-instruction">
            Please Solve:
        </div>
        <div ng-repeat="number in additionCtrl.operands">
            <div class="app-operand" ng-if="$index===additionCtrl.numberOfOperands -1">+ {{number.value}}</div>
            <div class="app-operand" ng-if="$index!==additionCtrl.numberOfOperands -1">{{number.value}}</div>
        </div>
        <div class="app-answer-separator">______________</div>
        <form class="app-form" name="calcForm" novalidate ng-submit="additionCtrl.checkAnswer()">
            <input class="app-input {{digit.position}}" size="1" maxlength="1" ng-model="digit.inputValue" required
               ng-repeat="digit in additionCtrl.answer | orderBy:digit.position"
               ng-change="additionCtrl.gotInput(digit.position);"/>
            <div>
                <input ng-disabled="calcForm.$invalid" type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
    <div class="col-sm-6 app-score">
        Score: {{ additionCtrl.userScore}}
    </div>
</div>
<div ng-init="additionCtrl.setElementFocus(additionCtrl.answer.length-1)"></div>